nav {
    font-family: 'UbuntuMedium', sans-serif;
    font-weight: 500;
    font-size: 1.25em;
}
    
.navbar-brand {
    display: block;
    width: 150px;
    height: 40px;
    background: url(/images/logo.png) no-repeat center center;
    background-size: 136px 36px;
    text-indent: -99999px;
    margin: 6px 5px 5px 5px;
}

#mbit .social-icon {
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

#mbit header {
    margin-bottom: 0;
}

.page-head {
    width: 90%;
    left: 5%;
    background-color: #3498db;
    text-align: center;
    padding: 10px 0;
    margin: -30px inherit auto auto;
    color: white;
    font-size: 150%;
    font-family: 'UbuntuRegular', sans-serif;
}

@media (max-width: 991px) {
    #mbit header {
        margin-bottom: inherit;
    }
    .page-head {
        margin: inherit;
        font-size: 120%;
    }
}

.headline h2 {
    font-family: 'SourceCodeProSemiBold', sans-serif;
}

.section {
    font-size: 120%;
}

.section ul {
    margin-left: -20px;
}

.homepage-image {
    background: url(/images/home/anim-group-1.jpg);
    min-width: 1172px;
    overflow: hidden;
    background-size: 100%;
    width: 100%;
    height: 400px;
    position: relative;
    z-index: -1;
    background-position: top;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0;
    padding: 0;
}

.homepage-image.img-anim-group-1 {
    background-image: url(/images/home/anim-group-1.jpg);
}

.homepage-image.img-groups-1 {
    background-image: url(/images/home/groups-1.jpg);
}

.homepage-image.img-class-whiteboard-1 {
    background-image: url(/images/home/class-whiteboard-1.jpg);
}

#mbit .donate-icon {
    font-size: 15px;
    margin-top: -5px;
    padding-left: 5px;
    padding-right: 5px;
}

.donate-icon .fa-usd {
    font-weight: bold;
}
.donate-icon .fa-square {
    color: #f0ad4e;
}
.donate-icon:hover .fa-square,
.donate-icon:focus .fa-square {
    color: #ed9c28;
}

.campaign-alert {
    text-align: center;
}

.donate-ctr {
    text-align: center;
    margin: 50px auto 30px auto;
}

#mbit .donate {
    text-transform: uppercase;
    font-family: 'UbuntuRegular', sans-serif;
    color: #fff;
    background: #f0ad4e;
    text-shadow: none;
    border: none;
}
#mbit .donate:hover, #mbit .donate:focus {
    background: #ed9c28;
}

footer {
    margin-top: 40px;
    padding: 20px 0 30px;
}

footer,
.copyright {
    color: #dadada;
    background: black;
}

footer a {
    color: #3498db;
    font-weight: 500;
}

.copyright {
    border-top: 1px solid #777;
    padding: 11px 0 7px;
    font-size: 12px;
}

.headline {
    margin: 30px 0 15px 0;
    border-bottom: 1px dotted #e4e9f0;
}

.headline h2 {
    display: inline;
    border-bottom: 2px solid #3498db;
}

.team h3 {
    font-family: 'UbuntuRegular', sans-serif;
}

.team small {
    display: block;
    font-size: 12px;
    margin-top: 2px;
    font-family: 'UbuntuRegular', sans-serif;
}

.team .team-social li {
    padding: 0;
}

.team .team-social li i {
    font-size: 20px;
    padding: 3px;
    min-width: 30px;
    text-align: center;
    background: #f7f7f7;
    color: #aaa;
    display: inline-block;
}
.team .team-social li i:hover {
    background: #3498db;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.team ul.team-social {
    text-align: right;
}

.team .thumbnail-style {
    padding: 12px;
}

.team .thumbnail-style:hover {
    box-shadow: 0 0 8px #ddd;
    transition: box-shadow 0.2s ease-in-out;
}


.testimonials .testimonial-info img {
    width: 60px;
    height: 60px;
    float: left;
    padding: 2px;
    margin-right: 15px;
    border: solid 1px #ccc;
    border-radius: 50%;
}

.testimonials p {
    margin-top: 5px;
}
.testimonials .testimonial-info {
    color: #3498db;
}
.testimonials .testimonial-info em {
    color: #777;
    display: block;
}

.promo-box {
    padding: 20px;
    margin: 25px 0 20px;
    text-align: center;
}

.promo-box i {
    display: block;
    font-size: 50px;
}

.color-blue { color: #3498db; }
.color-orange { color: #e67e22; }
.color-red { color: #e74c3c; }
.color-sea { color: #1abc9c; }

/* Retina images */
@media
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 1.5dppx) {
    .navbar-brand {
        background-image: url(/images/logo@2x.png);
    }
}
