@import url(//fonts.googleapis.com/css?family=Ubuntu:500);

nav {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 1.25em;
}
    
.navbar-brand {
    display: block;
    width: 150px;
    height: 40px;
    background: url(/images/logo.png) no-repeat center center;
    background-size: 136px 36px;
    text-indent: -99999px;
    margin: 6px 5px 5px 5px;
}

.social-icon {
    font-size: 30px;
    line-height: 45px;
    color: #bbb;
}

.donate {
    font-family: 'Ubuntu', sans-serif;
    line-height: 14px;
    margin-top: -10px;
}

.social-icon:hover {
    text-decoration: none;
    color: #333;
}

.nav-right {
    margin-top: 4px;
}

/* Retina images */
@media
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 1.5dppx) {
    .navbar-brand {
        background-image: url(/images/logo@2x.png);
    }
}
