nav {
    font-family: 'UbuntuMedium', sans-serif;
    font-weight: 500;
    font-size: 1.25em;
}
    
.navbar-brand {
    display: block;
    width: 150px;
    height: 40px;
    background: url(/images/logo.png) no-repeat center center;
    background-size: 136px 36px;
    text-indent: -99999px;
    margin: 6px 5px 5px 5px;
}

#mbit .social-icon {
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

#mbit header {
    margin-bottom: 0;
}

.page-head {
    width: 90%;
    left: 5%;
    background-color: #3498db;
    text-align: center;
    padding: 10px 0;
    margin: -30px inherit auto auto;
    color: white;
    font-size: 150%;
}

@media (max-width: 991px) {
    #mbit header {
        margin-bottom: inherit;
    }
    .page-head {
        margin: inherit;
        font-size: 120%;
    }
}

.homepage-image {
    background: url(/images/home/anim-group-1.jpg);
    min-width: 1172px;
    overflow: hidden;
    background-size: 100%;
    width: 100%;
    height: 400px;
    position: relative;
    z-index: -1;
    background-position: top;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0;
    padding: 0;
}

#mbit .donate-icon {
    font-size: 15px;
    margin-top: -5px;
    padding-left: 5px;
    padding-right: 5px;
}

.donate-icon .fa-usd {
    font-weight: bold;
}
.donate-icon .fa-square {
    color: #f0ad4e;
}
.donate-icon:hover .fa-square,
.donate-icon:focus .fa-square {
    color: #ed9c28;
}

#mbit .donate {
    font-family: 'UbuntuMedium', sans-serif;
    color: #fff;
}
#mbit .donate:hover,
#mbit .donate:focus {
    background-color: #eb9316;
}

/* Retina images */
@media
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 1.5dppx) {
    .navbar-brand {
        background-image: url(/images/logo@2x.png);
    }
}
